body{
  background-color: white;
}
#container{
  width: 500px;
  text-align: center;
  padding-left: 40px;
  margin-left: 25%;
}
.card{
  padding:20px 20px 20px 20px;
  margin-bottom: 5px;
  background-color: lightblue;
  border-radius: 5px;
  border:0px lightblue;
  border-style: groove;
}
ul{
  list-style: none;
}
